<div class="panel panel-primary">
  <div class="panel-heading"><h3>Would You Rather</h3></div>
  <div class="panel-body">
    <div class="col-xs-5">
      <%= render partial: 'vote_A', :locals => {:@question => question, :votes_A => 'true'} %><br>
    </div>
    <div class="col-xs-2">
      votes A: <%= @question.votes_A %> <br />
      votes B: <%= @question.votes_B %> <br />
      total votes: <br />
      <%= @question.total %>
    </div>
    <div class="col-xs-5">
      <%= render partial: 'vote_B', :locals => {:@question => question, :votes_B => 'true'} %><br><br>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to 'edit', edit_question_path(question), class: 'btn btn-warning' %>
    <%= link_to 'delete', question_path(question), class: 'btn btn-danger', data: {confirm: 'You sure?', method: 'delete'} %>
  </div>
</div>
